{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 150,
    "trailingComma": "all",
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "ignore",
    "arrowParens": "avoid"
}
