.content {
	box-sizing: border-box;
}

.content .main .mb-10 {
	margin-bottom: 5vh;
}

.mb-10 {
	margin-bottom: 5vh;
}

.content .header {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	box-shadow: 0 1px 3px #dbdbdb;
	padding: 0 10%;
	display: flex;
	justify-content: space-between;
}

.content .header .logo {
	text-decoration: none;
	display: flex;
	cursor: pointer;
	align-items: center;
	color: #333;
}

.content .header .logo h3 {
	margin: 0;
}

.content .main {
	width: 80%;
	margin: 20px auto;
}
